<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Liên hệ</h4>
                    <p>Trung Tâm Toàn Thắng. <br>Địa chỉ: K54/24 Ông Ích Khiêm<br /> Đà Nẵng, Việt Nam</p>
                </div>
            </div>            
            <div class="col-md-3">
                <div class="footer-widget">
                    <ul class="footer-media-icons">
                        <li><a href="https://www.facebook.com/daythemtoanthang" target="_blank" class="fa fa-facebook"></a></li>
                        @*<li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-youtube"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-apple"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>*@
                    </ul>
                </div>
            </div>
        </div> <!-- /.row -->
    @*  *@
        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-5">
                    <p class="small-text">&copy; 2016 Bản quyền thuộc Trung Tâm Toàn Thắng </p>
                </div> <!-- /.col-md-5 -->
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href=@Url.Action("Index","Home")>Home</a></li>
                        <li><a href=@Url.Action("Index","UserNews")>Tin tức</a></li>
                        <li><a href=@Url.Action("Index","UserPeriods")>Lịch học</a></li>
                        <li><a href=@Url.Action("Index","UserDocumentItems")>Tài liệu tham khảo</a></li>
                    </ul>
                </div> <!-- /.col-md-7 -->
            </div> <!-- /.row -->
        </div> <!-- /.bottom-footer -->

    </div> <!-- /.container -->
</footer>